<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <head>
        <style>
        table, th, tr {
  border: 1px solid blue;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 25%;
}
}

</style>
    </head>
    <div th:fragment="jobs">
<!--    <table th:each="job : ${jobs}">-->
    <table class="">
           <tr th:each="job : ${jobs}">
               <td>
                   <label> ID: <span th:text="${job.id}"></span></label><br>
                   <label> Name: <span th:text="${job.name}"></span></label><br>
                   <label> Employer: <span th:text="${job.employer}"></span></label><br>
                   <label> Location: <span th:text="${job.location}"></span></label><br>
                   <label> Position Type: <span th:text="${job.positionType}"></span></label><br>
                   <label> Skills: <span th:text="${job.coreCompetency}"></span></label><br>
               </td>
           </tr>
</table>
    </div>
</div>

</body>
</html>